.toolbar {
    position: relative;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    background:#0078d4; 
} 

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
    margin-left: 2rem;
}
.toolbar__logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation-items .toolbar_nav_last {
    border : 0;
}

.toolbar_navigation-items a {
    display: flex;
    border-right: 1px solid #ccc9c9;
    height: 55px;
    line-height: 50px;
    width: 100%;
    align-items: center;
    margin-right: 10px;
}




.toolbar__logo img {
    width: 150px;
    align-items: center;
    display: flex;
}

.spacer {
    flex : 1;
}
.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}

.toolbar_navigation-items a {
    color: #fff;
    text-decoration: none;
}

.toolbar_navigation-items a:hover, 
.toolbar_navigation-items a:active {
    color : #fa923f;
}